@charset "UTF-8";

body {
    background-color: darkblue;
}

div#interface {
    background-color: black;
    width: 1440px;
    padding: 15px;
    margin: -35px auto 0px auto;
}

/* Formatação da div menu */
nav#menu {
    margin: 0px 0px 0px -40px;
    text-align: left;
}

nav#menu ul {
    text-transform: uppercase;
    position: relative;
}

nav#menu li {
    display:inline-block;
    background-color: darkblue;
    padding: 10px;
    margin: 2px;
    font-size: 17px;
}

nav#menu a {
    text-decoration: none;
    color: white;
}

nav#menu a:hover{
    color: yellow;  
    text-decoration: underline;
}
nav#menu li:hover {
    background-color: gray;
    transition: 0.2s;
}

div#img-dolar {
    width: 163px;
    margin: auto;
}

figure.dolarimg {
    text-align: center;
    position: relative;
    margin: 0px;
    border: 8px solid black;
}

figure.dolarimg figcaption {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding: 20px;
    box-shadow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
}

figure.dolarimg:hover figcaption {
    transition: 0.8s;
    opacity: 1;

}

h1 {
    color: red;
    text-align: center;
}

p {
    font-size: 18pt;
    color: white;
    text-align: justify;
    text-indent: 35px;
}