@charset "UTF-8";

body {
    background-color: black;
}

div#interface {
    background-color: darkblue;
    width: 1440px;
    padding: 35px;
    margin: 35px auto 0px auto;
}

/* Formatação da div menu */
nav#menu {
    margin: 0px 0px 0px -40px; /* descoberto dps de eu mexer 2 dias nos itens do menu ao invés de mexer exatamente no menu */
    text-align: center;    
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    color: green;
    margin: 0%;
}

nav#menu li {
    display: inline-block;
    background-color: red ;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
    font-size: 25px;
}

nav#menu li:hover {
    background-color: blue;
}

nav#menu a {
    text-decoration: none;
    color: white;
}

nav#menu a:hover {
    color: yellow   ;
    text-decoration: underline;
}

div#img-dolar {
    width: 163px;
    margin: auto;
}

figure.dolarimg {
    text-align: center;
    position: relative;
    margin: 0px;
    border: 8px solid black;
}

figure.dolarimg figcaption {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding: 20px;
    box-shadow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
}

figure.dolarimg:hover figcaption {
    transition: 0.8s;
    opacity: 1;

}

h1 {
    color: red;
    text-align: center;
}

p {
    font-size: 18pt;
    color: white;
    text-align: justify;
    text-indent: 35px;
}