@charset "UTF-8";

body {
    background-color: white;
    color: blue;
}

div#interface {
    width: 1440px;
    margin: -35px auto 0px auto;
    background-color:goldenrod;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .9);
}

p {
    text-align: justify;
    text-indent: 35px;
    font-size: 18pt;
}

h1 {
    color: black;
    text-shadow: 1px 1px 0px rgba(255, 0, 0, .9);
    font-size: 35pt;
    font-family:monospace;
    text-align: center;
}

h2 {
    color: gray;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .9);
    font-size: 30pt;
}

h3 {
    color: red;
    font-size: 27pt;
    text-align: left;
}

h4 {
    color: white;
    font-size: 22pt;
}

a {
    text-decoration: none;
    color: white;
}

nav#menu {
    margin: 0px 0px 0px -40px;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2;
}

nav#menu li {
    display: inline-block;
    background-color: black;
    padding: 10px;
    align-items: center;
    margin: 2px;
    font-size: 14pt;
}

nav#menu:hover a {
    text-decoration: underline;
    color: black;
    background-color: white;
}

nav#menu:hover li {
    background-color: red;
}

div#libra {
    margin: auto  ;
}

div#libra img#libra-img {
    width: 500px;
    /* margin: auto auto auto auto; */
}

figure.foto-legenda {
    text-align: center;
    position: relative;
    margin: auto;
    border: 8px solid black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    top: 0px;
    color: white;
    padding: 20px;
    box-shadow: auto auto auto auto;
    box-sizing: border-box;
    text-align: center;
    /* margin: 0px 0px 0px 500px; */
    box-sizing: border-box;
}

figure.foto-legenda:hover figcaption {
    transition: 1.5s;
    opacity: 1;
}