@charset "UTF-8";

body {
    background-color: black;
    color: white;
}

div#interface {
    width: 1440px;
    margin: -35px auto 0px auto;
    background-color: darkblue;
    padding: 15px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, .9);
}

p {
    text-align: justify;
    text-indent: 35px;
    font-size: 18pt;
    color: yellow;
}

h1 {
    font-size: 35px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .9);
    text-align: center;
    color: cyan;
    font-size: 35px;
}

h2 {
    color: white;
    font-size: 30pt;
}

h3 {
    color: pink;
    font-size: 20pt;
}

a {
    color: white;
    text-decoration: none;
}

nav#menu {

}

nav#menu {
    text-transform: uppercase;
    text-align: center;
}

nav#menu li {
    display: inline-block;
    background-color: red;
    padding: 10px;
    font-size: 14pt;
    align-items: center;
    margin: 2px;
    text-align: center;

}

nav#menu:hover a {
    background-color: black;
}