@charset "UTF-8";

body {
    background-color: darkblue;
}

div#interface {
    background-color: black;
    width: 1440px;
    margin: -35px auto 0px auto;
    padding: 15px;
}

/* Formatação da div menu */
nav#menu {
    margin: 0px 0px 0px -40px;
    text-align: left;
}

nav#menu ul {
    text-transform: uppercase;
    position: relative;
}

nav#menu li {
    display:inline-block;
    background-color: darkblue;
    padding: 10px;
    margin: 2px;
    font-size: 17px;
}

nav#menu a {
    text-decoration: none;
    color: white;
}

nav#menu a:hover{
    color: yellow;  
    text-decoration: underline;
}
nav#menu li:hover {
    background-color: gray;
    transition: 0.2s;
}

p {
    color: white;
    font-size: 18pt;
    text-align: justify;
    text-indent: 35px;
    padding: 10px;
}   

h1 {
    color: white;
    text-align: center;
    font-size: 35pt;
}

h2 {
    color:limegreen;
    font-size: 30pt;
    text-align: left;
    padding: 10px;
}

h3 {
    font-size: 27px;
    color: magenta;
    text-align: left;
    padding: 10px;
}

div#img-yen {
    text-align: center;
}